<div class="row" style="height: 100vh;">
    <div class="col-12 col-sm-12 col-md-8 page-hero " style="padding: 0%;">
        <div class="coming-soon-left">


            <div style="position: absolute;
            left: 10%;
            top: 50px;">BeTheHope.fund</div>
            <div style="padding: 0 0 0 10%;
                        width: 100%;
                        font-size: 3em;
                        font-weight: 900;
                        position: absolute;
                        bottom: 125px;
                        font-family:'Avenir-Heavy';
                        ">Twilio x DEV.to</div>

            <div style="position: absolute;
            left: 10.5%;
            bottom: 20px;">abhinavchawla13@gmail.com</div>


            <!-- <div class="page-hero d-flex align-bottom justify-content-center">
                <h1>Some text </h1>
            </div> -->
        </div>
    </div>
    <!-- <div class=""> -->

    <div class="d-none d-md-block col-12 col-sm-12 col-md-4" style="padding: 0%;">
        <div class="coming-soon-right">
            <div class="layer"></div>
        </div>
    </div>

    <!-- </div> -->
</div>